<!doctype html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Cassard</title>
		<link rel="stylesheet" href="test.css">
	</head>

	<body>
		<ion-toggle toggle-class="toggle-balanced toggle-background-dark" ng-model="check">
          33
		</ion-toggle> 

      <div class="item range range-balanced range-background-dark">
          <i class="icon ion-ios-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="100" ng-model="RV">
          <i class="icon ion-ios-sunny"></i>
      </div>
	</body>
</html>
